.emailList-Settings {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.emailList-Settings svg {
    font-size: 18px;
}
.emailList-settingsRight {
    display: flex;
    align-items: center;
}
.emailList-settingsRight p {
    font-size: 13px;
}