.emailbody {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 10px;
    height: 40px;
}
.emailbody .emailbody-left {
    display: flex;
    align-items: center;
    min-width: 300px;
    flex: 20%;
}
.emailbody .emailbody-middle {
    display: flex;
    align-items: center;
    flex: 90%;
}
.emailbody .emailbody-right {
    display: flex;
    align-items: center;
    flex: 10%;
} 
.emailbody .emailbody-left svg{
    font-size: 18px;
    color: gray;
    margin-right: 15px;

}
.emailbody .emailbody-left p{
    font-size: 12px;

}
.emailbody:hover {
    box-shadow: 2px 2px 4px whitesmoke;
    cursor: pointer;
}
b {
    margin-right:15px ;
}
.emailbody .emailbody-middle p {
  
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}