.emailList-Settings {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.emailList-Settings svg {
    font-size: 18px;
}
.emailList-settingsRight {
    display: flex;
    align-items: center;
  
}
.emailList-settingsRight p {
    font-size: 13px;
}
.emailDetails-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 0 15px;
}
.emailDetails-headerLeft {
    display: flex;
    align-items: center;
   
}
.emailDetails-header svg {
    font-size: 18px;
    margin-left: 5px;   
}
.emailDetails-middleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.emailDetails-middleHeaderLeft {
    display: flex;
    align-items: center;
}
.emailDetails-middleHeaderRight {
    display: flex;
    align-items: center;
}
.emailDetails-middleHeaderLeft h4{
   margin-left: 5px;
   margin-right: 10px;
} 
.emailDetails-middleHeaderLeft p{
  font-size: 14px;
 } 
 .emailDetails-middleHeaderRight p {
    font-size: 12px;
 }
 .emaildetails-body {
    padding: 20px;
 }
 .emailDetail-message {
    box-shadow: 0px 0px 3px #ccc;
    height: 100%;
    padding: 10px;
 }
